html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  height: 100%;
  min-height: 100vh;
  background: no-repeat url(/images/bg-intro-mobile.png) center/contain $red;
  font-weight: 500;
  font-size: rem(11px);

  @include breakpoint-up(large) {
    background-image: url(/images/bg-intro-desktop.png);
  }
}

a {
  text-decoration: none;
}

.br-5 {
  border-radius: rem(5px);
}

.br-10 {
  border-radius: rem(10px);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.attribution {
  font-size: 11px;
  text-align: center;


  & a {
    color: hsl(228, 45%, 44%);
  }

  @include breakpoint-up(medium) {
    flex: 0 0 100%;
  }
}