html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  height: 100%;
  min-height: 100vh;
  background: no-repeat url(/images/bg-intro-mobile.png) center/contain $red;
}

.attribution {
  font-size: 11px;
  text-align: center;

  & a {
    color: hsl(228, 45%, 44%);
  }

  @include breakpoint-up(medium) {
    flex: 0 0 100%;
  }
}