.l-site-container {
  margin: 0 6.4%;

  @include breakpoint-up(large) {
    margin: 0 11.459%;
  }
}

.l-flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.l-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.l-flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.l-flex-col--to-row {
  @extend .l-flex-col;

  @include breakpoint-up(large) {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

// modular layout
.intro {
  &__header {
    margin-top: rem(88px);

    @include breakpoint-up(large) {
      margin-top: 0;
    }
  }

  &__text {
    margin-top: rem(24px);

    @include breakpoint-up(large) {
      margin-top: rem(32px);
    }
  }
}

.promo {
  margin-top: rem(64px);
  padding: rem(18px) 20%;
}

.register {
  margin-top: rem(24px);
  padding: rem(24px) 7.34%;

  @include breakpoint-up(large) {
    padding: rem(40px) 7.41%;
  }

  &__input {
    padding: rem(14px) rem(27px) rem(14px) rem(19.41px);

    @include breakpoint-up(large) {
      padding-left: rem(32px);
    }

    &:not(:first-of-type) {
      margin-top: rem(16px);

      @include breakpoint-up(large) {
        margin-top: rem(20px);
      }
    }
  }

  &__error {
    margin-top: rem(6px);
  }

  &__btn {
    margin-top: rem(16px);
    padding: rem(15px) 0;

    @include breakpoint-up(large) {
      margin-top: rem(20px);
    }
  }

  &__btn-terms {
    margin: rem(8px) 5.38% 0 5.38%;

    @include breakpoint-up(large) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.attribution {
  margin-bottom: 1rem;
  margin-top: 1rem;
}