.l-site-container {
  margin: 0 6.4%;

  @include breakpoint-up(large) {
    margin: 0 11.459%;
  }
}

.l-flex-col {
  display: flex;
  flex-direction: column;
}

.l-flex-row {
  display: flex;
  flex-direction: row;
}

.l-flex-wrap {
  flex-wrap: wrap;
}

.l-flex-col--to-row {
  @extend .l-flex-col;

  @include breakpoint-up(large) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

// modular layout
.intro {
  &__header {
    @include breakpoint-down(small) {
      margin-top: rem(88px);
    }
  }

  &__text {
    margin-top: rem(24px);

    @include breakpoint-up(large) {
      margin-top: rem(32px);
    }
  }
}

.app {}

.promo {
  margin-top: rem(64px);
  padding: rem(18px) 20%;
}

.register {
  margin-top: rem(24px);
  padding: rem(24px) 7.34%;

  @include breakpoint-up(large) {
    padding: rem(40px) 7.41%;
  }

  &__input {
    padding: rem(14px) rem(27px) rem(14px) rem(19.41px);

    &:not(:first-of-type) {
      margin-top: rem(16px);

      @include breakpoint-up(large) {
        margin-top: rem(20px);
      }
    }
  }

  &__error {
    margin-top: rem(6px);
  }

  &__btn {
    padding: rem(15px) 0;
    margin-top: rem(16px);

    @include breakpoint-up(large) {
      margin-top: rem(20px);
    }
  }

  &__btn-terms {
    margin: rem(8px) 5.38% 0 5.38%;
  }
}

.attribution {
  @include breakpoint-down(small) {
    margin-top: 1rem;
  }
}