.intro {
  &__header {
    font-weight: 700;
    font-size: rem(28px);
    line-height: calc(36/28);
    letter-spacing: rem(-0.291667px);
  }

  &__text {
    font-weight: 500;
    font-size: rem(16px);
    line-height: calc(26/16);
  }
}

.promo {
  background-color: $blue;
  box-shadow: 0px rem(8px) 0px rgba(0, 0, 0, 0.14688);
  border-radius: rem(10px);
  font-weight: 500;
  font-size: rem(15px);
  line-height: calc(26/15);
  letter-spacing: rem(0.267857px);
}

.register {
  background-color: white;
  box-shadow: 0px rem(8px) 0px rgba(0, 0, 0, 0.14688);
  border-radius: rem(10px);

  &__btn {
    font-weight: 600;
    font-size: rem(15px);
    line-height: calc(26/15);
    letter-spacing: rem(1px);
    color: white;
    background-color: $green;
    width: 100%;
    box-shadow: inset 0px rem(-4px) 0px rgba(0, 0, 0, 0.0908818);
    border-radius: rem(5px);
    border: none;
    text-transform: uppercase;
  }
}