.intro {
  &__header {
    font-weight: 700;
    font-size: rem(28px);
    line-height: calc(36/28);
    letter-spacing: rem(-0.291667px);

    @include breakpoint-up(large) {
      font-size: rem(50px);
      line-height: calc(55/50);
      letter-spacing: rem(-0.520833px);
    }
  }

  &__text {
    font-size: rem(16px);
    line-height: calc(26/16);
  }

  @include breakpoint-up(large) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 47.298%;
    flex: 0 1 47.298%;
    text-align: left;
  }
}

.app {
  @include breakpoint-up(large) {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 48.65%;
    flex: 0 1 48.65%;
  }
}

.promo {
  background-color: $blue;
  box-shadow: 0px rem(8px) 0px rgba(0, 0, 0, 0.14688);
  font-weight: 500;
  font-size: rem(15px);
  line-height: calc(26/15);
  letter-spacing: rem(0.267857px);
}

.register {
  background-color: white;
  box-shadow: 0px rem(8px) 0px rgba(0, 0, 0, 0.14688);

  &__input {
    border: rem(1px) solid #DEDEDE;
    color: $darkBlue;
    font-weight: 600;
    font-size: rem(14px);
    line-height: calc(26/14);
    letter-spacing: rem(0.25px);
    opacity: 0.75;

    background-image: none;
    background-repeat: no-repeat;
    background-position: right rem(27px) center;

    &--is-error {
      background-image: url(/images/icon-error.svg);
      border: rem(2px) solid $red;
    }
  }

  &__error {
    font-style: italic;
    text-align: right;
    color: $red;
    line-height: calc(16/11);
    display: none;

    &.is-error {
      display: block;
    }
  }

  &__btn {
    font-weight: 600;
    font-size: rem(15px);
    line-height: calc(26/15);
    letter-spacing: rem(1px);
    color: white;
    background-color: $green;
    box-shadow: inset 0px rem(-4px) 0px rgba(0, 0, 0, 0.0908818);
    border: none;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__btn-terms {
    line-height: calc(21/11);
    color: $grayishBlue;

    @include breakpoint-up(large) {
      line-height: calc(26/11);
    }
  }

  &__link {
    font-weight: 700;
    color: $red;
  }
}